<div class="col-md-12">
  <div class="card">
    <div class="header">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="title ">{{route.name}}</h2>
        </div>
      </div>
    </div>
    <div class="content">
      <form>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Nome</label><small>*</small>
              <input required type="text" name="firstName" class="form-control" placeholder="Nome" value="{{userData.firstName}}" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Sobrenome</label><small>*</small>
              <input required type="text" name="lastName" class="form-control" placeholder="Sobrenome" value="{{userData.lastName}}" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">E-mail</label><small>*</small>
              <input required type="email" name="email" class="form-control" placeholder="E-mail" value="{{userData.email}}" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Senha</label><small>*</small>
              <input required type="password" name="password" class="form-control" placeholder="Senha" value="********************" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Nascimento</label><small>*</small>
              <input required type="date" name="birthDate" class="form-control" value="{{userData.birthDate}}" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Perfil</label><small>*</small>
              <select required class="form-control" name="profile_cod" disabled>
              {{#each listProfile}}
                <option {{#if this.checked}}selected{{/if}} value="{{this.id}}">{{this.name}}</option>
              {{/each}}
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="col-xs-6 col-sm-3">
              <a target="" href="{{route.route}}"><button type="button" class="btn btn-default btn-block">Voltar</button></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>